.l {
  &-contents {
    padding: 20px 3%;
    min-height: 500px;
    @media #{$pc} {
      @include inner;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 20px 0;
    }
    &.is-full {
      padding: 0;
      max-width: 100%;
    }
  }
  &-main {
    flex-basis: 100%;
    @media #{$not_sp} {
      flex-basis: 70%;
      &.is-full {
        flex-basis: 100%;
      }
      &.is-message {
        flex-basis: 100%;
      }
    }
  }
  &-side {
    flex-basis: 100%;
    @media #{$not_sp} {
      min-height: 50vh;
      flex-basis: 28%;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.col {
  &-2 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 48%;
      &:nth-child(2n-1) {
        margin-right:  4%;
      }
    }
  }
  &-3 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 32%;
      margin-right: 2%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &-4 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 23.5%;
      margin-right: 2%;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
