.l {
  &-contents {
    padding: 20px 3%;
    min-height: 500px;
    @media #{$pc} {
      padding: 20px 0;
    }
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-main {
    width: 100%;
    // @media #{$sp} {
    //   order: 1;
    // }
    @media #{$not_sp} {
      width: 70%;
    }
  }
  &-side {
    width: 100%;
    display: block;
    // @media #{$sp} {
    //   order: 0;
    //   margin-bottom: 20px;
    // }
    @media #{$not_sp} {
      min-height: 50vh;
      width: 28%;
    }
  }
}
.col {
  &-2 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 48%;
      &:nth-child(2n-1) {
        margin-right:  4%;
      }
    }
  }
  &-3 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 32%;
      margin-right: 2%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &-4 {
    flex-basis: 100%;
    @media #{$pc} {
      flex-basis: 23.5%;
      margin-right: 2%;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
